# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. SQL
4. R

Some of the commonly used libraries used by Data Scientists include:

1. Panda
2. NumPy
3. PyTorch

| Data Science Tools |
|--------------------|
| Jupyter Notebooks  |
| RStudio            |
| VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60

200/60

3.3333333333333335

**Objectives:**

- Panda
- NumPy
- R
- Python
- SQL

## Author 
Milan